# Python
app/venv/
__pycache__/
*.pyc

# User-generated data and logs
data/
logs/

# User-specific configuration
hindsight.conf

# Secret credentials
app/service-account.json

# OS-specific
.DS_Store
lost+found

# System Trash
.Trash-1000/

# Log file
app/nohup.out

# Backups folder
backups

# Info files
resources/my-system-details.png

# Temporary scripts
temp-scripts/