[Desktop Entry]
Name=Hindsight Manager
Comment=Manage the Hindsight personal memory archive
Exec=%%EXEC_COMMAND%%
Icon=%%HINDSIGHT_PATH%%/resources/hindsight_icon.png
Terminal=false
Type=Application
Categories=Utility;