[Unit]
Description=Hindsight API Service
After=network.target

[Service]
ExecStart=%%VENV_PATH%%/bin/python %%APP_PATH%%/hindsight_api.py
PIDFile=%t/hindsight-api.pid
Environment="GOOGLE_APPLICATION_CREDENTIALS=%%SERVICE_ACCOUNT_JSON%%"
Restart=always

[Install]
WantedBy=default.target
